/* login page page 1 */

  .hidden {
    display: none
  }
 
  .text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-10%);
  } 
  
  .body {
    width: 10px;
    /* margin: 5000px ; */
    /* background-color: #fff; */
    /* display: flex !important; */
    /* flex-direction: row; */
    /* border-radius: 40px; */
     /* padding: 650px; */
    border-radius: 40px;
    padding: 70px;
    /* display: flex !important;
    justify-content: center !important; */
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    background-image: url(./images/login.jpg);
    background-position: cover;    
    /* background-size: 300%; */
    /* flex-direction: column; */
     margin-right: 50%;
    margin-left: 100%;
    
  }
  .box{
    margin-right: 80%;
    margin-left: 45%;
    /* flex-direction: column; */
    display: flex !important;
    justify-content: center !important;
  }
  .padlock{
    /* background-color: #fff;  */
    width: 200px;
    height: 200px; 
    /* position: center; */
    /* border-radius: 20%; */
    margin-right: 80% !important;
    margin-left: 35% !important;
    /* border-radius: 90%; */
    position: absolute;
    display: flex;
    /* width: 500px;
    height: 500px;  */
    /* position: center; */
    /* border-radius: 20%; */
    /* margin-right: 35% ; */
    /* margin-left: 5%; */
    border-radius: 90%;
    /* position:absolute; */
    /* display: flex; */
    /* bottom: 1400px; */
}
  .img-fluid{
    width: 9000px !important;
    height: 9000px !important;
  }

    .form-signin {
    width: 1000px !important; 
    height: 6000px !important;
    /* border-radius: 10px; */
    padding: 40px;
    margin-top: 10%;
    margin-bottom: 5000%;
    margin-left: 10;
    margin-right: 20%;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    /* flex-direction: row; */
    /* position: fixed; */
    color: white;
    /* font-family: Raleway; */
    font-style: bold;
    /* font-size: medium; */
    text-align: left;
    /* margin: 0 50px;  */
    /* bottom: 1000px ;  */
    /* filter:contrast(90%) */
    /* background-image: url("./images/login.jpg"); */

    font-size: 1000px;
    /* margin-right: 30%;  */
    bottom: 100px ;  } 

/* Sign up page 3*/
.signup{
/* background-image: url("./images/login.jpg"); */
width: 1500px !important; 
height: 600px !important;
/* background-size: cover; */
text-align: center;
color: white;
/* width: 500px !important;  */
/* height: 500px !important; */
position: center;

/* font-family: Raleway; */
/* font-style: bold; */
/* font-size: 1000px; */
margin-right: -20%; 
margin-left: 10%;
/* bottom: 90px ; */
filter:contrast(90%)
}
body {
  background-image: url(./images/backgroundp2.jpg);
  background-size: cover;
  margin-right: 5%;
  /* margin-left: 10%; */
  margin-bottom: 5%;
  margin-top: 5%;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

  
  /* .form-class {
    margin-bottom: 20px;
  } */
  
  label {
    display: block;
    /* margin-bottom: 5px; */
    font-size: 1rem;
    font-weight: bold;
    margin-left: 40%;
    margin-right: 50%;
  }

  
  input[type="text"], input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  button.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button.btn:hover {
    background-color: #327bc9;
  }
  
.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Products Page 2*/
h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.body2 {
    background-image: url(./images/backgroundp2.jpg);
    background-size: cover;
}
p{
    font-size: 2rem;
    color: aliceblue;
}
/* .title2{
    color: rgb(244, 247, 247);
    font-size: 7rem;
    text-align: center;
} */
.products-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product {
    flex: 1 0 20%;
    margin: 10px;
  }
/* carousel */
.navbar-bg-body-tertiary {
    text-align: center;
    display:inline-block;
    
}
/* dropdown for table information */
.table-information{
background-color: aqua;
width: 150vh;
height: 300px;
margin-left: 200px;
}
#dropdown{
display: none;
}
/* @medias */
@media screen and (min-width: 768px) {
    .product {
        flex-basis: 40%;
      }
  }
  .title2 {
    color: rgb(244, 247, 247);
    font-size: 7rem;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .title2 {
      font-size: 4rem;
    }
  }
  @media screen and (max-width: 480px) {
    .title2 {
      font-size: 3rem;
      text-align: left;
    }
}