<div>
    <h2 class="title2">INVENTORY DASHBOARD</h2>
</div>
<!-- carousel -->
<div class="carousel-container"> 
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./images/car1.jpg" class="d-block w-50" alt="computer-parts">
            </div>
            <div class="carousel-item">
                <img src="./images/car2.jpg" class="d-block w-50" alt="inventory-control-ipad">
            </div>
            <div class="carousel-item">
                <img src="./images/car3.jpg" class="d-block w-50" alt="warehouse">
            </div>
                <div class="carousel-item">
            <img src="./images/car4.jpg" class="d-block w-50" alt="guy-doing-inventory">
                </div>
        </div>
    </div>
</div>
<!-- products -->
<div class="products-container"> 
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./images/box.png" alt="products icon" width="50" height="50" class="d-inline-block align-text-top">
        <p id="total-products">Products</p>

      </a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./images/deployed.png" alt="internal products icon" width="50" height="50" class="d-inline-block align-text-top">
        <p id="internal-products">Internal Products</p>
      </a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./images/low.png" alt="low stock icon" width="50" height="50" class="d-inline-block align-text-top">
        <p id="low-stock-products">Low Stock </p>
      </a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./images/out-of-stock.png" alt="out of stock icon" width="50" height="50" class="d-inline-block align-text-top">
        <p id="out-of-stock-products">Out of Stock</p>
      </a>
    </div>
  </nav>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./images/damaged-package.png" alt="damaged inventory icon" width="50" height="50" class="d-inline-block align-text-top">
        <p id="damaged-inventory">Damaged Inventory</p>
      </a>
    </div>
  </nav>
</div>
<!-- section to link backend for table to show,  so when you click in each product backend will bring information -->
<section class="table-information" id="dropdown"> </section>