<div class="containers text-center">
          <div class="padlock">
            <img
              src="../images/newredpadlock.png"
              alt="padlock"
              class="opacity-75"
            />
          </div>
          <form class="form-signin">
            <div class="login p-5 blocks">
              <h2 class="form-signin-heading">Login</h2>
              <label for="inputUsername" class="sr-only">Username</label>
              <input
                type="text"
                id="inputUsername"
                class="form-control"
                placeholder="Username"
                required
                autofocus
              />
  
              <label for="inputPassword" class="sr-only">Password</label>
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
              />
              <button class="btn btn-lg btn-warning btn-block" type="submit">
                Login
              </button>
              <button class="signup btn btn-lg btn-warning btn-block" type="submit"> 
                Sign Up 
              </button>
            </div>
          </form>
      </div>
    <script src="../public/js/login.js"></script>