 <div class="containers text-center d-flex justify-content-start">
          <div class="padlock">
            <img
              src="/images/newredpadlock.png"
              alt="padlock"
            />
          </div>
          <form class="form-signin d-flex justify-content-start">
            <div class="login p-5 blocks">
              <h2 class="form-signin-heading">Login</h2>
              <label for="inputUsername" class="sr-only">Username</label>
              <input
                type="text"
                id="inputUsername"
                class="form-control"
                placeholder="Username"
                required
                autofocus
              />
  
              <label for="inputPassword" class="sr-only">Password</label>
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
              />
              <button class="btn btn-lg btn-warning btn-block mb-2" type="submit">
                Login
              </button>
              <button class="signupbtn signup btn btn-lg btn-warning btn-block" type="button"> 
                Sign Up 
              </button>
            </div>
          </form>
      </div>
    <script src="/js/login.js"></script>
    <footer>
        <p class="team">
          Dewey Watkins &emsp;&emsp;&emsp;&emsp;&emsp;Gabriela Reyna &emsp;&emsp;&emsp;&emsp;&emsp;Loyall Hart (Drew) &emsp;&emsp;&emsp;&emsp;&emsp;Janella Yar&emsp;&emsp;&emsp;&emsp;&emsp;Nabeel Khan
        </p>
      </footer>